certifi==2022.9.24
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
kiwisolver==1.4.4
matplotlib==3.3.2
numpy==1.20.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.3.4
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
Shapely==1.8.2
six==1.16.0
